.collage {
  display: grid;
  width: 100%;
  margin-top: 30px;
  grid-auto-rows: minmax(50px, auto);
}

.collage_row {
  grid-gap: 15px;
  grid-template-columns: 1fr;
}

.collage_grid {
  grid-template-columns: repeat(2, 50vw);
  grid-auto-rows: 50vw;
  grid-auto-flow: dense;
  img {
    width: 100%;
    height: auto;
  }
}